{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Manage bs" />
        <meta name="keywords" content="ddd" />
        <title>
            {% block title %}
                Lachesis
            {% endblock title %}
        </title>
        {% bootstrap_css %}
        <link href="https://fonts.cdnfonts.com/css/amazon-ember" rel="stylesheet">
        <style>
            body {
                font-family: 'Amazon Ember', sans-serif;
            }
            code {
                font-family: 'Amazon Ember Mono', sans-serif;
            }
        </style>
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% bootstrap_javascript %}
    </body>
</html>
