{% extends "manage/base.html" %}
{% load static django_bootstrap5 %}
{% block title %}
    {% if object.pk %}
        Update a redirection
    {% else %}
        Add a redirection
    {% endif %}
{% endblock title %}
{% block content %}
    <section class="height-100 bg-light">
        <header>
            {% if object.pk %}
                <h3>Update a redirection</h3>
            {% else %}
                <h3>Add a redirection</h3>
            {% endif %}
        </header>
        <main>
            <form method="post" action="{% url "manage:new" %}" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" %}
                {% bootstrap_button button_type="submit" content="Add" %}
            </form>
        </main>
    </section>
{% endblock content %}
