{% extends "manage/base.html" %}
{% block title %}
    Redirections
{% endblock title %}
{% block content %}
    <div class="height-100 bg-light">
        <h4>Redirections</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Target</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for redirection in redirections %}
                    <tr>
                        <td>{{ redirection.get_status_display|title }}</td>
                        <td>
                            <span class="copy-link" data-link="{{ redirection.get_absolute_url }}">{{ redirection.slug }}</span>
                            <a href="{{ redirection.get_absolute_url }}"
                               title="Open in new tab/window"
                               target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                        </td>
                        <td>{{ redirection.redirection_code }}</td>
                        <td>
                            <a href="{{ redirection.target_url }}" target="_blank">{{ redirection.target_url }}</a>
                        </td>
                        <td>
                            <a href="{% url "manage:update" slug=redirection.slug %}"
                               class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <a href="{% url "manage:new" %}" class="btn btn-primary">Add a redirection</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}
